<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('./partials/adminHeader') %>

    <header class="flex justify-end"></header>

    <div class="bg-zinc-900 min-h-screen w-full p-10">
      <div class="flex justify-start items-center mb-10">
        <img class="inline-block h-20 w-20 rounded-full" src="/<%= user.image %> " alt="image" />
        <h2 class="text-white text-4xl font-bold ms-10">
          Hello, Admin ! <span class="text-lg font-normal">( <%= user.name %> )</span>
        </h2>
      </div>

      <div class="mt-20">
        <h3 class="text-zinc-400 text-xl mb-5">All Posts</h3>

        <div class="postcontainer">
          <% posts.reverse( ).map(post=>{ %>

          <div class="card border-2 border-zinc-600 rounded-md p-3 mb-2 bg-zinc-800 w-2/3">
            <img class="inline-block w-full h-80" src="<%= post.image %>" alt="img" />
            <div class="flex justify-between item-center mt-3">
              <h2 class="text-zinc-300 mb-1 text-xl">Title : <%= post.title %></h2>
              <h4 class="text-zinc-500 mb-1 text-sm">@ <%= post.user.name %></h4>
            </div>
            <p class="text-zinc-400 text-sm"><%= post.content %></p>
            <small class="text-white inline-block mt-5 mb-2"> <%= post.likes.length %> likes</small>
            <div class="flex justify-between items-center">
              <a class="text-blue-500 me-5" href="/likePost/<%= post._id %>">
                <%= post.likes.indexOf(user._id )===-1 ? "Like" : "Unlike" %>
              </a>
              <span class="text-zinc-400 inline-block"
                ><%= new Date(post.date).toLocaleString('en-US', { month: 'short', day: '2-digit',
                year: 'numeric', hour: '2-digit', minute: '2-digit' }) %></span
              >
            </div>
            <div class="mt-5">
              <form
                method="post"
                action="/addComment/<%= post._id %>"
                class="w-full flex justify-between items-center"
              >
                <textarea
                  class="resize-none bg-transparent p-3 w-full h-20 outline-none border-2 border-zinc-600 rounded-lg text-white"
                  name="comment"
                  placeholder="Add comments ......."
                  id=""
                ></textarea>
                <input class="text-white px-4 py-2 rounded-lg ms-3 bg-zinc-400" type="submit" />
              </form>
            </div>

            <div class="mt-5">
              <h3 class="text-zinc-400 text-xl mb-5">Comments</h3>
              <% post.comment.reverse( ).map(comment=>{ %>
              <div class="card border-2 border-zinc-600 rounded-md p-3 mb-2 bg-zinc-800 w-2/3">
                <h2 class="text-zinc-300 mb-1 text-lg"><%= comment.comment %></h2>
                <div class="flex justify-between items-center mt-3">
                  <h4 class="text-zinc-500 mb-1 text-sm">@ <%= comment.user.name %></h4>
                  <span class="text-zinc-400 inline-block"
                    ><%= new Date(comment.date).toLocaleString('en-US', { month: 'short', day:
                    '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) %></span
                  >
                </div>
              </div>
              <% }) %>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
